body html {
  width: 100%;
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
}
.image {
  position: relative;
  height: 100%;
  display: hidden;
}
.image .title {
  position: absolute;
  right: 20px;
  top: 60px;
}
.image .title span {
  padding: 10px 20px;
  color: white;
}
.image .title .sp-an {
  background-color: #1d9ffa;
  padding: 10px 40px;
  border-radius: 6px;
}
.image .conten {
  width: 80%;
  background-color: white;
  height: 70%;
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translate(-50%);
  box-shadow: 0 0 20px #000000;
  overflow: scroll;
}
.image .conten .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.image .conten .top .tupian {
  padding: 10px 20px;
  margin-top: 20px;
}
.image .conten .top .wenzi {
  color: white;
  background: #1ca2ff;
  padding: 10px 30px;
  margin-top: 20px;
  margin-right: 20px;
  border-radius: 6px;
}
.image .conten .zhedian {
  width: 96%;
  margin: 40px auto;
  height: 500px;
}
.image .conten .zhedian table {
  border-top: 1px solid #a9c4df;
  border-left: 1px solid #a9c4df;
}
.image .conten .zhedian td {
  border-bottom: 1px solid #a9c4df;
  border-right: 1px solid #a9c4df;
}
