* {
  margin: 0;
  padding: 0;
}
body html {
  width: 100%;
}
.home {
  width: 100%;
  position: relative;
}
.home img {
  display: block;
  width: 100%;
}
.home .conten {
  width: 70%;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  padding-bottom: 100px;
}
.home .conten .login {
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
}
.home .conten .login .left span {
  padding: 10px 0;
  color: white;
  padding-right: 20px;
}
.home .conten .login .right span {
  padding: 10px 20px;
  color: white;
  background: #4c97dd;
  border-radius: 4px;
  margin-left: 4px;
}
.home .conten .sfjz {
  position: relative;
}
.home .conten .sfjz img {
  height: 100px;
  display: block;
  margin-left: -16px;
}
.home .conten .sfjz .maozi {
  display: flex;
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.home .conten .sfjz .maozi img {
  width: 92px;
  height: 85px;
}
.home .conten .sfjz .maozi span {
  width: 600px;
  margin-top: 14px;
  font-size: 40px;
  font-weight: 800;
  color: white;
}
.home .conten .fangkuang {
  margin-top: 40px;
  height: 200px;
  padding: 80px 0;
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid #eeeeee;
  box-shadow: 0px 0px 10px #888888;
}
.home .conten .fangkuang .first {
  width: 300px;
  height: 300px;
}
.home .conten .fangkuang img {
  width: 200px;
  height: 200px;
  margin-left: 14px;
  margin-right: 40px;
}
.home .conten .anli {
  width: 100%;
  background-color: white;
  border: 1px solid #eeeeee;
  padding: 10px 0 40px;
  margin-top: 40px;
  box-shadow: 0px 0px 10px #888888;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.home .conten .anli .alltiem {
  width: 40%;
  margin-bottom: 20px;
}
.home .conten .anli .alltiem .top-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e0dcdc;
}
.home .conten .anli .alltiem .top-item .zhanshi {
  padding: 10px 0px;
  border-bottom: 2px solid #498adf;
  font-size: 20px;
  font-weight: 800;
}
.home .conten .anli .alltiem .top-item .more {
  padding: 10px 20px;
  color: #a1a0a0;
}
.home .conten .anli ul {
  list-style: none;
  width: 100%;
}
.home .conten .anli ul li {
  list-style: none;
  color: black;
  font-size: 16px;
  padding: 6px 0;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
