* {
  margin: 0;
  padding: 0;
}
body html {
  width: 100%;
}
.home {
  width: 100%;
  position: relative;
}
.home img {
  display: block;
  width: 100%;
}
.home .conten {
  width: 70%;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  padding-bottom: 200px;
}
.home .conten .login {
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
}
.home .conten .login .left span {
  padding: 10px 0;
  color: white;
  padding-right: 20px;
}
.home .conten .login .right span {
  padding: 10px 20px;
  color: white;
  background: #4c97dd;
  border-radius: 4px;
  margin-left: 4px;
}
.home .conten .sfjz {
  position: relative;
}
.home .conten .sfjz img {
  height: 100px;
  display: block;
  margin-left: -16px;
}
.home .conten .sfjz .maozi {
  display: flex;
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.home .conten .sfjz .maozi img {
  width: 92px;
  height: 85px;
}
.home .conten .sfjz .maozi span {
  width: 600px;
  margin-top: 14px;
  font-size: 40px;
  font-weight: 800;
  color: white;
}
.home .conten .biaoge {
  width: 100%;
  height: 600px;
  background: white;
  margin-top: 40px;
}
.home .conten .biaoge h1 {
  width: 40%;
  padding: 40px 0;
  margin: 0 auto;
  text-align: center;
  color: #125f8f;
}
.home .conten .biaoge .shenqing {
  width: 80%;
  padding: 10px 0;
  padding-left: 10px;
  margin: 0 auto;
  background: #1f6eaf;
  color: white;
}
.home .conten .biaoge .one {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
}
.home .conten .biaoge .one .left {
  width: 46%;
  display: flex;
  align-items: center;
}
.home .conten .biaoge .one .left span {
  padding: 10px 20px;
  background: #f8f8f8;
  border: 1px solid #e0e0e0;
  height: 40px;
  display: inline;
  box-sizing: border-box;
  width: 30%;
  text-align: center;
}
.home .conten .biaoge .one .left input {
  height: 40px;
  box-sizing: border-box;
  border: 1px solid #e0e0e0;
  padding-left: 10px;
  width: 70%;
}
.home .conten .biaoge .one .right {
  width: 46%;
  display: flex;
  align-items: center;
}
.home .conten .biaoge .one .right span {
  padding: 10px 20px;
  background: #f8f8f8;
  border: 1px solid #e0e0e0;
  height: 40px;
  display: inline;
  box-sizing: border-box;
  width: 30%;
  text-align: center;
}
.home .conten .biaoge .one .right .seled {
  height: 40px;
  box-sizing: border-box;
  border: 1px solid #e0e0e0;
  padding-left: 10px;
  width: 70%;
}
.home .conten .biaoge .one .teshuright {
  width: 46%;
  display: flex;
  align-items: center;
}
.home .conten .biaoge .one .teshuright .teshuspan {
  padding: 10px 20px;
  background: #f8f8f8;
  border: 1px solid #e0e0e0;
  height: 40px;
  display: inline;
  box-sizing: border-box;
  width: 30%;
  text-align: center;
}
.home .conten .biaoge .one .teshuright .seled {
  height: 40px;
  box-sizing: border-box;
  border: 1px solid #e0e0e0;
  padding-left: 10px;
  width: 70%;
}
.home .conten .biaoge .two {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
}
.home .conten .biaoge .two .left {
  width: 46%;
  display: flex;
  align-items: center;
}
.home .conten .biaoge .two .left span {
  padding: 10px 20px;
  background: #f8f8f8;
  border: 1px solid #e0e0e0;
  height: 40px;
  display: inline;
  box-sizing: border-box;
  width: 30%;
  text-align: center;
}
.home .conten .biaoge .two .left input {
  height: 40px;
  box-sizing: border-box;
  border: 1px solid #e0e0e0;
  padding-left: 10px;
  width: 70%;
}
.home .conten .biaoge .two .right {
  width: 46%;
  display: flex;
  align-items: center;
}
.home .conten .biaoge .two .right span {
  padding: 10px 20px;
  background: #f8f8f8;
  border: 1px solid #e0e0e0;
  height: 40px;
  display: inline;
  box-sizing: border-box;
  width: 30%;
  text-align: center;
}
.home .conten .biaoge .two .right input {
  height: 40px;
  box-sizing: border-box;
  border: 1px solid #e0e0e0;
  padding-left: 10px;
  width: 70%;
}
.home .conten .biaoge .ziyuan {
  width: 80%;
  display: flex;
  margin: 20px auto;
}
.home .conten .biaoge .ziyuan span {
  padding: 10px 20px;
  background: #f8f8f8;
  border: 1px solid #e0e0e0;
  height: 40px;
  display: inline;
  box-sizing: border-box;
  width: 13.8%;
  text-align: center;
}
.home .conten .biaoge .ziyuan input {
  height: 40px;
  box-sizing: border-box;
  border: 1px solid #e0e0e0;
  padding-left: 10px;
  width: 86.2%;
}
.home .conten .biaoge .time {
  width: 80%;
  display: flex;
  margin: 20px auto;
}
.home .conten .biaoge .time .jiuzhu {
  padding: 10px 20px;
  background: #f8f8f8;
  border: 1px solid #e0e0e0;
  height: 40px;
  display: inline;
  box-sizing: border-box;
  width: 13.8%;
  text-align: center;
}
.home .conten .biaoge .submit {
  width: 30%;
  margin: 40px auto;
  display: flex;
  justify-content: space-around;
}
.home .conten .biaoge .submit span {
  padding: 10px 30px;
  background: #028ac6;
  color: white;
  border-radius: 6px;
}
